#add-account {
  margin: auto;
  max-width: 600px;
}

.input-keys {
  margin: auto;
  text-align: center;
  margin-top: 5em;
}

.add-account-header {
  width: 100%;
  margin: auto;
  height: 2em;
  color: white;
  text-align: center;
  border: 1px solid black;
  background-color: #4CAF50;
}

.add-account-text {
  margin: 5px 0;
}

.back-button {
  margin-left: 5px;
  font-weight: bold;
  font-size: 25px;
  float: left;
}

.exchange-logo img {
  margin: auto;
  width: 220px;
  height: 100px;
  border: 1px solid black;
  border-radius: 5px;
}

.select-exchange-option select {
  width: 300px;
  height: 40px;
  background-color: rgb(222, 218, 218);
  margin: 6px 0;
}

.input-keys input {
  width: 300px;
  height: 40px;
  margin: 8px auto;
}

.sandbox-check input{
  width: 3em;
  border: 1px solid black;
  margin: 10px auto;
}

.sandbox-check label{
  font-size: 20px;
  margin-left: 20px;
}

.error-text {
  font-size: 20px;
  color: red;
}